<h1><%= t('.header', name: @badge.name) %></h1>


<%= link_to t('.back_badges_button'), admin_badges_path %> |
<%= link_to t('.edit_badge_button'), edit_admin_badge_path(@badge) %> |
<%= link_to t('.delete_badge_button'), admin_badge_path, method: :delete, data: { confirm: t('.are_you_sure') } %>
