<footer class="fixed-bottom bg-dark text-center text-lg-start">
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <%= current_year %>
    <%= github_ulr('kaltag', 'Test_Guru') %>
    <%= link_to t('.project_link'), 'https://thinknetica.com', target: '_blank' %>
  </div>
</footer>
